<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BankCard System</title>
    <link th:href="@{../style.css}" rel="stylesheet">
</head>
<body>
    <h1>BankCard System</h1>

    <ul>
        <li><a href="/bankcard/list">List of BankCards</a></li>
        <li><a href="/clients/list">List of Clients</a></li>
        <li><a href="/bootstrap/list">Bootstrap view</a></li>
    </ul>

    <form action="/bootstrap/card/list">
        <input type="submit" value="Go to BankCard list" />
    </form>

    <!-- <form action="/add/client">
        <input type="submit" value="Add new client" />
    </form> -->

    <h2>Add new client</h2>

    <div th:if="${success}">Your clients name: <span th:text="${name}"></span> and client's email: <span th:text="${email}"></span></div>
    <div th:if="${error}" style="color: red;">The client already exists!</div>

    <form action="/save-link" method="post">
        <label for="name">Name</label><br/>
        <input type="text" id="name" name="name" th:value="${name}"><br/>
        <label for="email">E-mail</label><br/>
        <input type="email" id="email" name="email" th:value="${emailField}"><br/>
        <label for="mobile">Mobile</label><br/>
        <input type="text" id="mobile" name="mobile" th:value="${mobile}"><br/>

    <button type="submit">Submit</button>
    </form>
</body>
</html>